@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

body { font-family: theme('fontFamily.sans'); }

.gradient-border { position: relative; }
.gradient-border::before { content:''; position:absolute; inset:0; padding:1px; border-radius:inherit; background:linear-gradient(90deg,#475569,#facc15,#475569); -webkit-mask:linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0); -webkit-mask-composite:xor; mask-composite:exclude; }

